@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua Senha?";
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        <div class="brand-logo text-center">
                            <img src="../../../../images/logo.png" alt="logo">
                        </div>
                        <h6 class="font-weight-light">Esqueceu sua senha? Aqui você pode facilmente recuperar uma nova senha.</h6>
                        <form class="pt-3" method="post">
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control form-control-lg" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input">
                                        Eu concordo com todos os Termos e Condições
                                    </label>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">ENVIAR</button>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                Já possui conta? <a asp-page="./Login" class="text-primary">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
