

@{
    ViewData["Title"] = "Create Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css {
    <partial asp-for="~/Views/Shared/_Css.cshtml"/>
}

@section Nav {
    <partial asp-for="~/Views/Shared/_Nav.cshtml" />
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-description">Cadastro de Cliente</p>
                            <form asp-action="Create">
                                <div class="form-group">
                                    <label >CNPJ</label>
                                    <input type="text" class="form-control" placeholder="CNPJ" required>
                                    <input type="hidden"  value="1">
                                </div>
                           
                                <button type="submit" class="btn btn-success mr-2">Salvar</button>
                                <button class="btn btn-light">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Footer {
    <partial asp-for="~/Views/Shared/_Footer.cshtml" />
}
